<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
    <span>({{post_url}})</span>
  </div>
  <div class="meta">
    Created by {{user.username}} on
    {{created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
  </div>
</article>