<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a><br/>
    <img height="200px" src="{{cover_url}}" width="60%">
      <br/>
      {{{post_body}}}
  </div>
  <div class="meta">
    Created by {{user.username}} on
    {{created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
  </div>
</article>