
<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
      <div>
          <label for="post-title">Title</label>
          <input type="text" id="post-title" name="post-title" value="{{post.title}}"/>
      </div>
      <div>
          <label for="post-cover">cover pic</label>
          <input value="{{post.cover_url}}" type="hidden" name="post_cover_url" id="post_cover_url" class="simple-file-upload">
<!--          <img src="{{post.cover_url}}" width="60%">-->
      </div>
      <div>
          <label for="post-body">post body</label>
          <textarea id="summernote" name="editordata"></textarea>
      </div>
    <div>
      {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

{{> comments post.comments}}

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/comment.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script src="https://app.simplefileupload.com/buckets/e4092f789c916ca34e7706dd4385624a.js"></script>
<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
    $(document).ready(function() {
        var post_body = '{{{post.post_body}}}';
        $('#summernote').summernote('code', post_body);
    });
</script>